.header__part {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  min-height: 100%;
  margin-left: 40px;
}

.header__part:hover .header__list {
  display: flex;
}